body {
  background-color:rgb(251, 251, 251);
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}


.jumbotron-text {
  font-weight:400;
  font-size: 2em;
  color: green;
  text-align:center;
  padding-top:1em;
}

.jumbotron-text h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: green;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: green;
}

h2 {
  font-weight: 200;
  font-size: 2rem;
  color: green;
  /* text-transform: uppercase; */
  text-align: center;
}
